/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.02.2014, 16:29:34
    Author     : tokmagle
*/

#main{
    position: relative;
}

.element{
    border: 2px solid black;
    position: relative;
    color: slategrey;
    font-size: 11px;
    background-image:url(img/map3.jpg);
}


.StaticElement{ 
    background-color: #fff;
    /*background-image:url(/img/map5.jpg);
    box-shadow: inset 0px 0px 60px rgba(0,0,0,1);*/
}

#environs{
    position: absolute;
    overflow: hidden;
    border: 1px solid black;
}

/*#striker{
    position: absolute;
    margin-top: 285px;
    margin-left: 285px;
}

#blok{
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    position: fixed;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    border: 1px solid black;
}*/
